doctype html
html
	script(language="javascript", type="application/javascript", src="http://www.geoplugin.net/javascript.gp?.js")
	script(src="/js/lib/jquery.js")
	script(src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js")
	script.
		$(document).ready(function(){
			window.location = "draw/" + CryptoJS.MD5(geoplugin_countryCode()).toString();
		});