extends layout

block content
    .container
        div(class="row")
            div(class="col-md-12", style="text-align:center;")
                h2 Top rated draws

    br
    .container
        .row
            each item in result
                div(class="col-sm-6 col-md-3")
                    .thumbnail
                        a(href="#", class="icon-like", onclick="like('" + item._id + "')")
                            li(class="fa fa-heart")   Like
                        a(class="fancybox" rel="gallery1", href="http://placehold.it/385x200&text=" + item.name, alt= item.name + " draw", title= item.name + " draw from " + item.date)
                            img(src="http://placehold.it/385x200&text=" + item.name, alt="Country Image")
                            div(class="caption")
                                h3= item.name
                                p Likes: 
                                    span(id=item._id)= item.rating
            
    script(src="/js/lib/jquery.js")
    script(src="/js/lib/bootstrap.js")
    script(type="text/javascript", src="/util/fancybox/source/jquery.fancybox.js?v=2.1.5")
    link(rel="stylesheet", type="text/css", href="/util/fancybox/source/jquery.fancybox.css?v=2.1.5", media="screen")
    link(rel="stylesheet", type="text/css", href="/util/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5")
    script(type="text/javascript", src="/util/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5")
    link(rel="stylesheet", type="text/css", href="/util/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7")
    script(type="text/javascript", src="/util/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7")
    script(type="text/javascript", src="/util/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6")
    script.
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect : 'none',
                closeEffect : 'none'
            });
        });

        function like(_id) {
            console.log(_id);
            $.get("/like/" + _id, function (data) { 
                $("#" + _id).text(data); 
            });
        }